@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,600;1,400&family=Quicksand:wght@500;700&display=swap');

:root {
    --m_width:1200px
}

a {
    text-decoration: none;
    color: black;
}


body {
    text-align: left;
    font-family: "Quicksand",Arial, Helvetica, sans-serif;
}

body {
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-variant: normal;
    font-weight: 500;
    font-size: 11pt;
}

p {
    margin: 0px;
}

h1 {
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 32.0pt;
}

h2 {
    font-family: "IBM Plex Mono", monospace,sans-serif;
    font-weight: 400;
    font-style:italic;
    font-size: 30.0pt;
}

h4 {
    font-family: "IBM Plex Mono",monospace, serif;
    font-size: 16pt;
    margin-bottom: 5px;
}

h3 {
    font-size: 12pt;
    font-weight: 500;
}

.content {
    float: center;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    max-width: var(--m_width);
    margin: auto;


}

.header {
    text-align: left;
    padding-top: 5px;

}

.header h1{
    margin-bottom: 10px;
}

.topnav {
    overflow: hidden;
    font-size: 11pt;
}

.topnav a {
    padding-right: 20px;
    float: left;
    display: block;
    text-align: left;
    text-decoration: none;
    color: black;

}

.topnav a:hover {
    text-decoration: underline;
    text-decoration-style:wavy;
    text-decoration-thickness: 1pt;
}

.imagegrid {
    display: grid;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 5%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(256px,1fr));
}

.poster {
    position: relative;
    width: 100%;
    height: auto;
}

.poster img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    width: 100%;
    opacity: 0;
    transition:.3s ease;
    background-color: #f8f8f8;
}

.poster:hover .overlay {
    opacity: 0.95;
    height: 100%;
}

.overlay .text{
    margin:5%;
}



